<div class="about">
    <h1>About</h1>
    <div>
        γ‚γ†γ“γwinegramγΈ<br>
    
    γ“γ®γ‚µγ‚¤γƒγ―εεΏƒθ€…γ§γ‚‚γƒ―γ‚¤γƒ³γ‚’γ‚γ‹γ‚γ‚„γ™γζΆγ—γγ‚ε…±ζ‰γ§γγ‚‹γγ‚γ®γ‚µγ‚¤γƒγ§γ™π§€<br>
    
    γΎγγ€γ“γ®γ‚µγ‚¤γƒγ‚’γγ£γ‹γ‘γ«γƒ―γ‚¤γƒ³γ«ε―Ύγ—γ¦θε‘³γ‚’ζγ£γ¦γ‚‚γ‚‰γγγ‚‰εΉΈγ„γ§γ™πΎ<br>
    
    η†γ•γ‚“γ®ζ•η¨Ώγ§γƒ―γ‚¤γƒ³γ®θ‰―γ•γ‚’εΊƒγ’γ¦θ΅γγΎγ—γ‚‡γ†π·</br>
    </div>
</div>