<h1>name</h1>
<%= @user.email %>
<%= @user.name %>
<h1>wines</h1>
<% @wines.each do |wine| %>
<p>name</p>
<%= link_to wine.name, edit_wine_path(wine.id) %>
<%= attachment_image_tag wine, :image, size: "100x50" %>
<% end %>