* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header_block {
     display: flex;
     justify-content: center;
 }
 
 .header_logo img{
     width: 100px;
     height: 100px;
 }

.header_btn {
    padding: 0!important;
    margin: 0 15px;
}
.container{
    padding-top: 100px;
}

.navbar-nav{
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float:none;
}
.home {
    text-align :center;
}

.lists {
    margin: 10px;
    float: left;
}

.list {
  padding: 0!important;
}

.title {
    margin-left: 250px;
}


// overflow用
.line {
    height: 400px;
    overflow: auto;
    margin-left: 250px;
}

.user_line {
    height: 400px;
    overflow: auto;
}
// ここまでがoverflow


.image {
    width: auto;
    height: 150px;
}

.navbar-nav li :first-child {
    height: 100px;
    width: auto;
}