* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container{
    background-color: rgba( 180, 180, 180, 0.8 );
}

 .header_block {
     display: flex;
     justify-content: center;
     margin: 40px;
 }
 
//  背景画像
 .background {
  background-image: image-url("black.jpg");
  background-size: cover;
}

.background:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

 .header_logo img{
     width: 60px;
     height: 60px;
     border-radius: 70%;
 }

.header_btn {
    padding: 0!important;
    margin: 0 15px;
}

.navbar-nav{
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float:none;
}

.about{
    
}


.home {
    text-align :center;
}

.lists {
    margin: 10px;
    float: left;
}

.list {
  padding: 0!important;
}

.title {
    margin-left: 250px;
}


// overflow用
.line {
    height: 400px;
    overflow: auto;
    margin-left: 250px;
}

.user_line {
    height: 400px;
    overflow: auto;
}
// ここまでがoverflow


.image {
    width: auto;
    height: 150px;
}

.navbar-nav li :first-child {
    height: 100px;
    width: auto;
}
